.listing {
  padding: 1rem 2rem;
  text-align: right;
  a {
    text-decoration: none;
    color: #222;
  }
  a:hover {
    color: #555;
  }
}

.listing .listing_item:not(:last-child) {
  margin-bottom: 1rem;
  padding-bottom: 1rem;

  border-bottom: 1px solid #aaa;
}
