.page {
  padding: 1rem 1.5rem 2rem;
  line-height: 2;
  p + p {
    margin-top: 2rem;
  }

  @media screen and (min-width: 620px) {
    line-height: 1.75;
    p + p {
      margin-top: 1.5rem;
    }
  }
}

.avatar_img {
  max-width: 20rem;
  display: block;
  margin: 1rem auto;

  @media screen and (min-width: 620px) {
    float: left;
    margin: 0.5rem 1rem 0.5rem 0.5rem;
  }
}

.contact_box {
  margin-top: 2.5rem;
  color: rgb(231, 233, 238);
  padding: 1.5rem 2rem 1rem;
  border-radius: 0.25rem;
  background-color: rgb(55, 55, 58);
  h3 {
    margin: 0 0 1rem;
  }

  // a {
  //   color: cornsilk;
  // }
}
