.component {
  border-top: 0.25px solid #888;
  background-color: #020308;
  padding: 1.5rem 2rem;
  overflow: hidden;
  height: 100%;
  color: #efefef;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
  }
  li + li {
    margin-left: 0.5rem;
  }
  a {
    text-decoration: none;
    color: #efefef !important;
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid #efefef;
  }
}
