$color-outer-bg: #c6e8f8;
$color-inner-bg: #f4f9fa;
$color-text: rgb(25, 25, 26);
$content-container-max-with: 1000px;
$site-top-control-padding: calc($content-container-max-with - 98%);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.master-container {
  background-color: $color-outer-bg;
  min-height: 100vh;
}

.content-container {
  background-color: $color-inner-bg;
  color: $color-text;

  max-width: 1000px;
  margin: auto;
  min-height: 100vh;

  a {
    color: cornflowerblue;
  }
}

.site-bottom {
  background-color: #010101;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
